[submodule "packages/vold-utils"]
	path = packages/vold-utils
	url = https://github.com/mykmelez/vold-utils-jplib
[submodule "packages/menuitems"]
	path = packages/menuitems
	url = https://github.com/klemens/ff-sdk-menuitems.git
